* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-radius: 5px;
  --background-color: rgb(246, 246, 246);
  --foreground-color: rgb(255, 0, 144);
  --foreground-opaque: rgba(255, 0, 144, 0.4);
  --primary-text-color: rgb(10, 10, 10);
  --secondary-text-color: rgb(255, 255, 255);
  --background-image: url(./assets/images/inspiration-theme.jpg);
}

[data-theme="motivation"] {
  --background-color: rgb(26, 60, 84);
  --foreground-color: rgb(53, 112, 154);
  --foreground-opaque: rgb(53, 112, 154, 0.4);
  --primary-text-color: rgb(233, 237, 240);
  --secondary-text-color: rgb(10, 10, 10);
  --highlight-color: rgb(122, 148, 183);
  --background-image: url(./assets/images/forest-haze.jpg);
}

[data-theme="cat"] {
  --background-color: rgb(133, 41, 158);
  --foreground-color: rgb(53, 112, 154);
  --foreground-opaque: rgb(53, 112, 154, 0.4);
  --primary-text-color: rgb(233, 237, 240);
  --secondary-text-color: rgb(10, 10, 10);
  --background-image: url(./assets/images/cat-dark.jpg);
}

body {
  font-family: "Nunito Sans Variable", sans-serif;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
}

.app-container {
  min-height: 100vh;
  display: grid;
  width: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 3fr;
}

.header-container {
  padding: 10px;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.motivation-container {
  align-self: flex-start;
}

.form-container {
  width: 80%;
  max-width: 500px;
  display: flex;
  height: 35%;
}

.form-input {
  height: 50px;
  flex: 1;
  padding: 10px;
  font-size: 20px;
  background-color: var(--foreground-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: var(--border-radius);
}

.form-input::placeholder {
  color: var(--primary-text-color);
  font-style: italic;
  opacity: 0.5;
}

.main-container {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* tasks */
.tasks-container {
  background-color: var(--foreground-color);
  width: 80%;
  max-width: 500px;
  margin-top: -2%;
  border-radius: var(--border-radius);
}

.tasks-list {
  list-style-type: none;
  display: grid;
  color: var(--primary-text-color);
  font-size: 20px;
}

.task-li {
  cursor: pointer;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.task-li:hover {
  background-color: var(--highlight-color);
}

.task-manage-button {
  width: 20px;
  padding: 5px;
}

.task-check__container {
  display: flex;
  gap: 10px;
}

.task-checkbox:checked + .task-text {
  text-decoration: line-through;
  text-decoration-color: red;
}

.edit-delete-btns__container {
  display: flex;
  gap: 10px;
}

/* themes */
.themes-container {
  align-self: flex-end;
  display: flex;
  gap: 10px;
}

.theme-button {
  background-color: var(--foreground-opaque);
}

.theme-icon {
  width: 30px;
  padding: 5px;
}

/* results */
.results-container {
  margin-top: 20px;
  width: 80%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}
