* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-radius: 5px;
  --font-size-primary: 18px;
  --font-size-secondary: 13px;
  --square-btn-lg: 35px;
  --square-btn-sm: 25px;
  --transition: all 0.1s ease-in;
}

[data-theme="light"] {
  --background-overlay: rgba(246, 246, 246, 0.181);
  /* background */
  --background-color-primary: rgb(198, 198, 198); /*main input */
  --background-color-secondary: rgb(208, 208, 208); /*tasks li */
  --background-color-secondary-lighter: rgb(236, 236, 236); /*tasks li:hover */

  /* forefront */
  --forefront-color-primary: rgb(23, 23, 23); /*theme icons */
  --forefront-color-secondary: rgb(51, 51, 51); /*edit, delete icons */

  /* text colors */
  --text-color-primary: rgb(
    0,
    0,
    0
  ); /*input, tasks, (edit, delete):hover, remove, category:hover */
  --text-color-secondary: rgb(83, 83, 83); /*category buttons*/
  --text-color-contrast: rgb(0, 0, 0); /*editing input text*/

  /* buttons */
  --theme-background-color-primary: rgb(223, 223, 223); /*theme icons background*/
  --theme-background-color-secondary: rgb(255, 255, 255); /*theme icons background on hover */
  --taskBtn-background-color-primary: rgb(
    204,
    178,
    134
  ); /*empty checkbox, edit, delete button's background*/
  --disabledBtn-color: rgb(135, 135, 135);

  /* primary color */
  --primary-color: rgb(
    218,
    142,
    2
  ); /*inputs on focus, task manage btns:hover, active category, checked checkbox bg, remove btn:hover, task crossing line*/
  --primary-shade: rgb(217, 207, 186); /*editing input bg*/
}

[data-theme="dark"] {
  --background-overlay: rgba(0, 0, 0, 0.201);

  /* background */
  --background-color-primary: rgb(12, 13, 16); /*main input */
  --background-color-secondary: rgb(49, 57, 69); /*tasks li */
  --background-color-secondary-lighter: rgb(62, 72, 88); /*tasks li on hover */

  /* forefront */
  --forefront-color-primary: rgb(255, 255, 255); /*theme icons */
  --forefront-color-secondary: rgb(18, 18, 18); /*edit, delete icons */

  /* text colors */
  --text-color-primary: rgb(
    238,
    234,
    230
  ); /*main input, tasks, edit, delete icons on hover, remove btns, category btns on hover */
  --text-color-secondary: rgb(121, 121, 121); /*category buttons*/
  --text-color-contrast: rgb(255, 255, 254); /*editing input text*/

  /* buttons */
  --theme-background-color-primary: rgb(68, 68, 68); /*theme icons background*/
  --theme-background-color-secondary: rgb(52, 52, 52); /*theme icons background on hover */
  --taskBtn-background-color-primary: rgb(
    197,
    216,
    253
  ); /*empty checkbox, edit, delete button's background*/
  --disabledBtn-color: rgb(64, 64, 64);

  /* primary color */
  --primary-color: rgb(
    47,
    93,
    185
  ); /*inputs on focus, task manage btns:hover, active category, checked checkbox bg, remove btn:hover, task crossing line*/
  --primary-shade: rgb(29, 47, 84); /*editing input bg*/
}

[data-theme="green"] {
  --background-overlay: rgba(149, 163, 151, 0.103);

  /* background */
  --background-color-primary: rgb(72, 118, 38); /*main input */
  --background-color-secondary: rgb(84, 107, 66); /*tasks li */
  --background-color-secondary-lighter: rgb(118, 151, 92); /*tasks li on hover */

  /* forefront */
  --forefront-color-primary: rgb(56, 121, 13); /*theme icons */
  --forefront-color-secondary: rgb(18, 18, 18); /*edit, delete icons */

  /* text colors */
  --text-color-primary: rgb(
    244,
    242,
    240
  ); /*main input, tasks, edit, delete icons on hover, remove btns, category btns on hover */
  --text-color-secondary: rgb(175, 193, 176); /*category buttons*/
  --text-color-contrast: rgb(255, 255, 254); /*editing input text*/

  /* buttons */
  --theme-background-color-primary: rgb(227, 233, 229); /*theme icons background*/
  --theme-background-color-secondary: rgb(219, 224, 221); /*theme icons background on hover */
  --taskBtn-background-color-primary: rgb(
    193,
    205,
    192
  ); /*empty checkbox, edit, delete button's background*/
  --disabledBtn-color: rgb(174, 174, 174);

  /* primary color */
  --primary-color: rgb(
    65,
    27,
    16
  ); /*inputs on focus, task manage btns:hover, active category, checked checkbox bg, remove btn:hover, task crossing line*/
  --primary-shade: rgba(65, 27, 16, 0.63); /*editing input bg*/
}

[data-theme="floral"] {
  --background-overlay: rgba(255, 246, 246, 0.1);

  /* background */
  --background-color-primary: rgb(255, 207, 197); /*main input */
  --background-color-secondary: rgb(228, 173, 175); /*tasks li */
  --background-color-secondary-lighter: rgb(244, 186, 188); /*tasks li on hover */

  /* forefront */
  --forefront-color-primary: rgb(177, 17, 65); /*theme icons */
  --forefront-color-secondary: rgb(18, 18, 18); /*edit, delete icons */

  /* text colors */
  --text-color-primary: rgb(
    48,
    11,
    2
  ); /*main input, tasks, edit, delete icons on hover, remove btns, category btns on hover */
  --text-color-secondary: rgb(130, 102, 95); /*category buttons*/
  --text-color-contrast: rgb(255, 255, 254); /*editing input text*/

  /* buttons */
  --theme-background-color-primary: rgb(234, 215, 216); /*theme icons background*/
  --theme-background-color-secondary: rgb(249, 232, 233); /*theme icons background on hover */
  --taskBtn-background-color-primary: rgb(
    252,
    214,
    226
  ); /*empty checkbox, edit, delete button's background*/
  --disabledBtn-color: rgb(174, 174, 174);

  /* primary color */
  --primary-color: rgb(
    241,
    75,
    128
  ); /*inputs on focus, task manage btns:hover, active category, checked checkbox bg, remove btn:hover, task crossing line*/
  --primary-shade: rgba(170, 68, 100, 0.518); /*editing input bg*/
}

body {
  font-family: "Nunito Sans Variable", sans-serif;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-secondary);
  font-weight: bold;
}

.app-container {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.overlay-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 3fr;
  min-height: 100vh;
  padding: 20px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.form-container {
  width: 80%;
  max-width: 500px;
  display: flex;
  margin-bottom: 25px;
}

.form-input {
  height: 50px;
  flex: 1;
  padding: 10px;
  font-size: var(--font-size-primary);
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  border: none;
  border-radius: var(--border-radius);
  outline: 2px solid transparent;
}

.form-input:focus {
  outline: 2px solid var(--primary-color);
}

.form-input::placeholder {
  color: var(--text-color-primary);
  font-style: italic;
  font-weight: 600;
  opacity: 0.5;
}

.editing-input {
  flex: 1;
  padding: 5px;
  font-size: var(--font-size-primary);
  background-color: var(--primary-shade);
  color: var(--text-color-contrast);
  border: none;
  border-radius: var(--border-radius);
  outline: 2px solid transparent;
}

.editing-input:focus {
  outline: 2px solid var(--primary-color);
}

/* main container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  background: var(--background-overlay);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

/* tasks */
.tasks-list {
  list-style-type: none;
  width: 80%;
  max-width: 500px;
  display: grid;
  color: var(--text-color-primary);
  font-size: var(--font-size-primary);
  gap: 5px;
}

.task-li {
  background-color: var(--background-color-secondary);
  cursor: pointer;
  padding: 5px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.task-li:hover {
  background-color: var(--background-color-secondary-lighter);
  border-radius: var(--border-radius);
}

.task-manage-icon {
  width: var(--square-btn-sm);
  height: var(--square-btn-sm);
  color: var(--forefront-color-secondary);
  padding: 5px;
}

.task-manage-button {
  background-color: var(--taskBtn-background-color-primary);
  width: var(--square-btn-sm);
  height: var(--square-btn-sm);
  transition: var(--transition);
}

.task-manage-button:hover {
  background-color: var(--primary-color);
}

.task-manage-button:hover .task-manage-icon {
  color: var(--text-color-primary);
}

.task-check__container {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 20px;
}

.task-checkbox {
  appearance: none;
  width: var(--square-btn-sm);
  height: var(--square-btn-sm);
  border-radius: var(--border-radius);
  background-color: var(--taskBtn-background-color-primary);
  cursor: pointer;
}

.task-checkbox:checked {
  background-color: var(--primary-color);
  position: relative;
}

.task-checkbox:checked::before {
  content: "";
  position: absolute;
  right: 8px;
  top: 3px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  width: 5px;
  height: 12px;
}

.task-text {
  cursor: pointer;
  flex: 1;
}

.task-checkbox:checked + .task-text {
  text-decoration: line-through;
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 2px;
}

.edit-delete-btns__container {
  display: flex;
  gap: 5px;
}

/* themes */
.themes-container {
  align-self: flex-end;
  display: flex;
  gap: 10px;
}

.theme-button {
  background-color: var(--theme-background-color-primary);
  width: var(--square-btn-lg);
  height: var(--square-btn-lg);
  transition: var(--transition);
}

.theme-button:hover {
  background-color: var(--theme-background-color-secondary);
}

.theme-icon {
  width: var(--square-btn-lg);
  height: var(--square-btn-lg);
  padding: 6px;
  color: var(--forefront-color-primary);
}

/* tasks' categories & delete buttons */
.categories-deleteBtns__container {
  margin-top: 25px;
  width: 80%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--background-color-primary);
  border-radius: var(--border-radius);
  padding: 5px;
}

.categories__container {
  display: flex;
  gap: 10px;
}

.category-button {
  background-color: transparent;
  color: var(--text-color-secondary);
  transition: var(--transition);
}

.category-button:hover {
  color: var(--text-color-primary);
}

.category-button-active {
  color: var(--primary-color);
  font-weight: bold;
}

.remove-button {
  background-color: transparent;
  color: var(--text-color-primary);
  transition: var(--transition);
}

.remove-button:hover {
  color: var(--primary-color);
}

button:disabled {
  color: var(--disabledBtn-color);
  transition: var(--transition);
}

button:disabled:hover {
  color: var(--disabledBtn-color);
}
